.button
{
-fx-background-color : #FCF3DE ;

}
.navbarButton:hover{
-fx-background-color : #81523B;
-fx-text-fill : #FFFFFF ;
}

.navbar{
-fx-background-color : #FCF3DE ;
}
.navbarButton{
-fx-background-color : transparent;
-fx-text-fill : #81523B ;
}
.bodyCard{
-fx-background-color : #FCF3DE ;
}
borderpane center
{
-fx-padding:10;
}
.profileBodyCard{
-fx-background-color : #FCF3DE ;
-fx-background-radius:25px;
-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 0);
}